[global]

# interface:port on which Gorgon will listen for HTTP requests
listen = :5000

# path to the public and private keys
public_key = public-key.pem
private_key = private-key.pem

# host part of your email address
idp_domain = example.com

# secret key used to authenticate cookies (must be 32 or 64 bytes length)
# you can create a secret key with: `pwgen -s 32`
session_secret_key =

# authentication backend (test or imap)
auth = test


[auth:test]
# Do *NOT* use this authentication method in production. This is only for
# tests.
global_password = verysecret

[auth:imap]
# Use an IMAP server to authenticate users.
server = imap.example.com
